<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href="/css/style.css">
    <%- include("partials/cabecalho.ejs") %>
</head>
<body>
    <div class="container">

    <a href="/bibliotecarios/cadastrar">Cadastrar bibliotec치rios</a>
    <a href="/reservas/cadastrar">Cadastrar reservas</a>
    <a href="/bibliotecarios">Listagem de bibliotec치rios</a>
    <a href="/reservas">Listagem de reservas</a>
    <a href="/usuarios/cadastrar">Cadastrar Usu치rios</a>
    <a href="/usuarios">Listagem de Usu치rios</a>
    
    </div>

</body>
    <%- include("partials/rodape.ejs") %>
    
</body>
</html>